body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', sans-serif;
  font-size: 33px;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 6px 50px;
  transition: background-color 0.3s ease;
  position: relative;
  z-index: 1;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav ul li {
  margin-right: 2.7em;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  font-family: 'Poetsen One', sans-serif;
  text-decoration: none;
  color: rgb(236, 137, 45);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: rgb(14, 10, 6);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.logo {
  max-width: 80px;
  height: auto;
  margin-right: auto;
  transition: transform 0.4s ease;
}

.logo:hover {
  transform: scale(1.2);
}

#cart-icon {
  margin-left: 2.7em;
  cursor: pointer;
}

#cart-icon img {
  width: 24px;
  height: auto;
  vertical-align: middle;
}
